@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Radio Canada', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: #1e1f35;
  min-width: '100vw';
  min-height: '100vh';
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.herosection-imageanimation {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
